<#@ include file ="..\EntityFramework.Reverse.POCO.Generator\EF.Reverse.POCO.v4.ttinclude" #>
<#
    Settings.DatabaseType            = DatabaseType.SqlServer;
    Settings.TemplateType            = TemplateType.EfCore10;
    Settings.ConnectionString        = Environment.GetEnvironmentVariable("ReversePoco", EnvironmentVariableTarget.User);
    Settings.ConnectionStringName    = "AzureContext";
    Settings.DbContextName           = "AzureContext";
    Settings.GenerateSeparateFiles   = false;
    Settings.Namespace               = "Azure10";
    Settings.AddUnitTestingDbContext = false;

    FilterSettings.Reset();
    FilterSettings.AddDefaults();
    FilterSettings.IncludeViews                 = false;
    FilterSettings.IncludeSynonyms              = false;
    FilterSettings.IncludeStoredProcedures      = false;
    FilterSettings.IncludeTableValuedFunctions  = false;
    FilterSettings.IncludeScalarValuedFunctions = false;
    FilterSettings.TableFilters.Add(new RegexIncludeFilter("^(Country|NotificationType|Testing_EfCore10)$"));

    Settings.ElementsToGenerate = Elements.Poco | Elements.Context | Elements.Interface | Elements.PocoConfiguration | Elements.Enum;

    Settings.CommandTimeout                         = 600;
    Settings.DbContextInterfaceBaseClasses          = "IDisposable";
    Settings.DbContextBaseClass                     = "DbContext";
    Settings.OnConfiguration                        = OnConfiguration.Omit;
    Settings.AddParameterlessConstructorToDbContext = true;
    Settings.ConfigurationClassName                 = "Configuration";
    Settings.UseMappingTables                       = false;

    Settings.EntityClassesModifiers        = "public";
    Settings.ConfigurationClassesModifiers = "public partial";
    Settings.DbContextClassModifiers       = "public";
    Settings.DbContextInterfaceModifiers   = "public";
    Settings.ResultClassModifiers          = "public";

    Settings.UsePascalCase                      = true;
    Settings.UseDataAnnotations                 = false;
    Settings.UsePropertyInitialisers            = false;
    Settings.UseLazyLoading                     = false;
    Settings.UseInheritedBaseInterfaceFunctions = false;
    Settings.IncludeComments                    = CommentsStyle.AtEndOfField;
    Settings.IncludeExtendedPropertyComments    = CommentsStyle.InSummaryBlock;
    Settings.DisableGeographyTypes              = true;
    Settings.CollectionInterfaceType            = "ICollection";
    Settings.CollectionType                     = "List";
    Settings.NullableShortHand                  = true;
    Settings.AddIDbContextFactory               = true;
    Settings.UsePrivateSetterForComputedColumns = true;
    Settings.IncludeGeneratorVersionInCode      = false;
    Settings.TrimCharFields                     = false;
    Settings.IncludeFieldNameConstants          = false;
    Settings.AdditionalNamespaces               = new List<string>();
    Settings.AdditionalContextInterfaceItems    = new List<string>();
    Settings.AdditionalFileHeaderText           = new List<string>();
    Settings.AdditionalFileFooterText           = new List<string>();

    Settings.UseRegions                       = true;
    Settings.UseNamespace                     = true;
    Settings.UsePragma                        = false;
    Settings.AllowNullStrings                 = false;
    Settings.UseResharper                     = true;
    Settings.ShowLicenseInfo                  = false;
    Settings.IncludeConnectionSettingComments = false;
    Settings.IncludeCodeGeneratedAttribute    = false;
    Settings.IncludeColumnsWithDefaults       = true;
    Settings.GenerateHasDefaultValueSql       = true;

    Settings.AddJsonColumnMappings = delegate (List<JsonColumnMapping> jsonColumnMappings)
    {
        jsonColumnMappings.Add(new JsonColumnMapping
        {
            Schema = Settings.DefaultSchema,
            Table = "Testing_EfCore10",
            Column = "ShippingAddress",
            PropertyType = "AzureShippingAddress",
            AdditionalNamespace = null,
            ExcludePropertyConfiguration = true
        });
    };

    Settings.ContextNamespace           = "";
    Settings.InterfaceNamespace         = "";
    Settings.PocoNamespace              = "";
    Settings.PocoConfigurationNamespace = "";
    Settings.PrependSchemaName          = true;
    Settings.TableSuffix                = null;

    FilterSettings.CheckSettings();

    Inflector.IgnoreWordsThatEndWith = new List<string> { "Status", "To", "Data" };
    Inflector.PluralisationService = new EnglishPluralizationService();

    var outer = (GeneratedTextTransformation) this;
    var fileManagement = new FileManagementService(outer);

    EfrpgResult toolResult = null;
    var efrpgToolOk = true;
    try
    {
        toolResult = EfrpgToolRunner.ReadDatabase(
            FilterSettings.IncludeStoredProcedures || FilterSettings.IncludeTableValuedFunctions || FilterSettings.IncludeScalarValuedFunctions,
            FilterSettings.IncludeSynonyms);
    }
    catch (Exception efrpgEx)
    {
        fileManagement.Error("// -----------------------------------------------------------------------------------------");
        if (efrpgEx is System.ComponentModel.Win32Exception)
            fileManagement.Error("// efrpg tool not found. Install it with: dotnet tool install -g Efrpg");
        else
            fileManagement.Error("// efrpg tool reported an error:");
        fileManagement.Error("// " + efrpgEx.Message.Replace("\r\n", " ").Replace("\n", " "));
        fileManagement.Error("// -----------------------------------------------------------------------------------------");
        efrpgToolOk = false;
    }

    if (efrpgToolOk)
    {
        var generator = GeneratorFactory.Create(toolResult, fileManagement);
        if (generator != null && generator.InitialisationOk)
        {
            generator.ReadDatabase();
            generator.GenerateCode();
        }
        fileManagement.Process(true);
    }#>